*.js
!jest.config.js
*.d.ts
node_modules
.env

# CDK asset staging directory
.cdk.staging
cdk.out

# Python
__pycache__/
*.py[cod]
*$py.class
test/site-packages/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg